@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Citadel Script';
  src: url('/fonts/CitadelScriptStd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212; 
  color: #f0f0f0;
  user-select: none;
}

.scroll-down-arrow {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 22px;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
  animation: subtle-float 2.5s infinite ease-in-out;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.scroll-down-arrow::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 14px;
  height: 14px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: translateX(-50%) rotate(-45deg);
}

.scroll-down-arrow:hover {
  opacity: 1;
}

.scroll-down-arrow.fade-out {
  opacity: 0;
  transform: translate(-50%, 20px);
  animation: none;
}

@keyframes subtle-float {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, 5px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
